.main {
  background-image: url(../../../assets/images/black-friday-sales-sign-neon-light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.hero {
  background: url(../../../assets/images/black-friday-sales-sign-neon-light.jpg)
    no-repeat center center;
  background-size: cover;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ff6f00;
  color: white;
  border: none;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ff8f00;
}
