<div class="row" style="margin-top: 15px;">
    <div class="row d-flex justify-content-center align-content-center pt-5">
        <div class="col-3">
            <label for="category">Filter By Category</label>
            <ng-select id="clientType" [clearable]="false" [searchable]="false" [items]="categories"
                (change)="filterProducts($event)">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let item of products">
            <h4>{{item.title}}</h4>
            <hr>
            <p>{{item.description}}</p>
        </div>
    </div>
</div>